**/.classpath
cmake-build-debug
cmake-build-release
**/.project
**/bin
**/build
**/out
**/generated
**/.gradle
**/.idea
META-INF
**/.settings
plugin.properties
plugin.xml
/cmake-build-debug-coverage
_build
.vscode
